.dias-dieta{
    display: flex;
    flex-direction:row;
    gap: 16px;
    padding: 8px 16px;
    width: 100%;
    overflow-x: scroll;
}
.title-cardapio{
    font-size: 32px;
    color: var(--dark);
    margin-bottom: 24px;
}
.dia-semana{
    display: flex;
    width: 78px;
    height: 32px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--Primary);
    border-radius: 8px;
    font-size: 16px;
    color: var(--white);
    background-color: var(--Primary);
}
.cardapio{
    display: flex;
    flex-direction: column;
    width: 95%;
    gap: 8px;
    font-size: 16px;
    color: var(--Secundary);
}
a{
    text-decoration: none;

}
.dias-semana-dieta{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: var(--info);
    border: 1px solid var(--info);
    padding: 8px;
    border-radius: 8px;
}
