.container-carroussel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
}
.dias-dieta{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    height: auto;
    gap: 8px;
    padding: 8px 16px;
}
.title-cardapio{
    font-size: 32px;
    color: var(--dark);
    margin-bottom: 24px;
}
.dia-semana{
    display: flex;
    width: 128px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--Primary);
    border-radius: 8px;
    font-size: 16px;
    color: var(--white);
    background-color: var(--Primary);
}
.cardapio{
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 8px;
    font-size: 16px;
    color: var(--Secundary);
}
a{
    text-decoration: none;

}
.cardapio p{
    display: flex;
    width: auto;
    justify-content: flex-start;
    line-height: 16px;
}
.cardapio h3{
    display: flex;
    width: auto;
    align-items:flex-start;
    justify-content: flex-start;
    
}
.dias-semana-dieta{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    font-size: 24px;
    color: var(--info);
    border: 1px solid var(--info);
    padding: 8px;
    border-radius: 8px;
}
