.search-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
}
.p-receita{
    display:flex ;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #e9e6e6;
    padding: 0px 16px;
    cursor: pointer;
}

.container_categ{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: auto;
    height:auto;
    padding: 8px 16px;
    gap: 8px;
}
.categ-receitas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    border: 1px solid var(--Primary);
    border-radius: 8px;
    font-size: 16px;
    color: var(--white);
    background-color: var(--Primary);
    padding: 8px 16px;
}
.categ-rec-p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay-receita{
    height: 100%;
    width: 0%;
    /*propriedade para informar que este objeto vai ficar sobre as outras cosias da pagina*/
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: all 0.5s;
    background: var(--white);
    box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.25);
}