#p-receita{
    display:flex ;
    width: 350px;
    height: 40px;
    border-radius: 8px 0px 0px 8px;
    border: 1px solid #e9e6e6;
    padding: 0px 16px;
    cursor: pointer;
}
.search-input{
    display: flex;
    flex-direction: row;
}
.bt-search{
    display: flex;
    height: 40px;
    align-items: center;
    border-radius: 0px 8px 8px 0px;
    border: 1px solid #e9e6e6;
    color: var(--Primary);
    cursor: pointer;
}
.container_categ{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    height:auto;
    overflow-x: scroll;
    padding: 8px 16px;
    gap: 16px;
}
.categ-receitas{
    width: 900px !important;
    height: 40px;
    border: 1px solid var(--Primary);
    border-radius: 8px;
    font-size: 16px;
    color: var(--white);
    background-color: var(--Primary);
}