@import '/reset.css';

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  header{
    display: flex;
      align-items: center;
      justify-content: center;
  }
.logo{
    display: flex;
    width: 150px;
    height: auto;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 16px;
    gap:16px;
}
.inpulabel{
    display:flex;
    flex-direction: column;
    gap: 16px;
}
input{
    display:flex ;
    width: auto;
    height: 32px;
    border-radius: 8px;
    border: 1px solid #e9e6e6;
    padding: 0px 16px;
}
input::placeholder{
    color: #838383;
}
label{
    font-size: 16px;
}
.btn-calcular{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 40px;
    border: none;
    background: #089944;
    color: white;
    border-radius: 8px;

}

.resultado-calc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    padding: 16px;
    width: auto;
    height: 80px;
    border: 1px solid #c5c4c4;
    border-radius: 8px;


}
.valor-resultado{
    font-size: 16px;
}
