@import 'reset.css';
@import 'receitas.css';
@import 'variaveis_.css';
@import 'Index.css';

.material-symbols-outlined {
    text-decoration: none;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  body{
    background-color: var(--linght);
  }
  header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    background: var(--Primary);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  .header-nav-bar{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    padding: 16px;
  }
  .logo-nav-bar{
    display: flex;
  }
  .nav-button{
    border: 0px;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
    cursor: pointer;
    color: var(--white);
    background: var(--Primary);
  }
  .overlay{
    height: 100%;
    width: 0%;
    /*propriedade para informar que este objeto vai ficar sobre as outras cosias da pagina*/
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: all 0.5s;
    background: var(--white);
    box-shadow: 8px 0px 8px rgba(0, 0, 0, 0.25);
  }
  .content-overlay{
    display: flex;
    flex-direction: column;
    gap: 16px;
    color:  var(--white);
    font-size: 16px;
    padding: 0px 16px;
  }
  .iten_menu{
    display: flex;
    text-decoration: none;
    border-bottom: 1px solid var(--Primary);
    padding: 8px;
    color: #343A40;
    ;
  }
  .closebtn{
   display: flex;
    cursor: pointer;
    color:#007BFF;
  }
.logo_container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  }
.logo{
    display: flex;
    width: 150px;
    height: auto;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    justify-content: center;
    flex-wrap: wrap;
    padding: 16px;
    gap:16px;
}
.inpulabel{
    display:flex;
    flex-direction: column;
    gap: 16px;
}
.input-calc{
    display:flex ;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #e9e6e6;
    padding: 0px 16px;
}
.input-calc::placeholder{
    color: #838383;
}
label{
    font-size: 16px;
}
.btn-calcular{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 40px;
    border: none;
    background: #089944;
    color: white;
    border-radius: 8px;
    font-family: 'Tilt Neon', cursive;
    font-size: 16px;

}

.resultado-calc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    padding: 16px;
    width: 350px;
    height: 80px;
    border: 1px solid #c5c4c4;
    border-radius: 8px;
    


}
.titulo-resultado{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}
.valor-resultado{
    font-family: 'Tilt Neon', cursive;
    font-size: 32px;

}


