:root{
    --Primary:#007BFF;
    --Secundary:#6C757D;
    --Sucess:#089944;
    --Wharning:#FFC107;
    --Danger:#DC3545;
    --info: #17A2B8;
    --linght:#F8F9FA;
    --dark: #343A40;
    --white:#FFFFFF;
}